@import "tailwindcss";
@plugin "./hero.ts";

/* HeroUI theme source */
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));


html, body {
    background-color: whitesmoke;
}